.a-small-card {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    & .card-img-top{
        width: inherit;
        border-bottom: 2px solid grey;
        padding-bottom: 0.5rem;
    }
    & .card-body {
      display: flex;
      flex-direction: column;
      align-content: space-around;
      justify-content: space-around;
      align-items: center;
    }
  }