.o-header {
  display: flex;
  width: 100%;
  height: 4rem;
  background-color: #193843d6;
  color: white;
  justify-content: space-between;
  align-items: center;
  & .logo {
    padding-left: 1rem;
  }
  & .navList {
    // padding-right: 1rem;
    display: flex;
    width: 50%;
    justify-content: space-around;
    & li {
      list-style: none;
      cursor: pointer;
      & a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
  @media screen and (max-width: 856px) {
    .o-header {
      flex-direction: column;
      height: 6rem;
      justify-content: space-around;
      align-items: flex-start;
      color:red;
      & .navList {
        width: 100%;
      }
    }
}
