.m-services {
  // display: flex;
  background-color: #e9ecef;
  padding: 1rem 2rem;
  //flex-direction: column;
  h4 {
    color: blueviolet;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
  }
  .render-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    .servicesCards {
      padding: 1rem 0rem;
      :hover {
        font-size: large;
        font-weight: 500;
        font-family: cursive;
      }
    }
  }
}
