.a-client-card {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
  & .card-body {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
  }
}
